.root {
    -fx-background-color: linear-gradient(to bottom, #002147, #003366);
    -fx-font-family: "Segoe UI", sans-serif;
}

.button {
    -fx-background-color: #FFD700; /* arany-sárga */
    -fx-text-fill: #002147; /* sötétkék */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1);
    -fx-border-color: #002147;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #FFC000;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.table-view {
    -fx-background-color: white;
    -fx-table-cell-border-color: #cccccc;
}

.table-view .column-header-background {
    -fx-background-color: #002147;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30px;
    -fx-border-color: transparent transparent #cccccc transparent;
    -fx-border-width: 0 0 1 0;
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-row-cell:filled:selected {
    -fx-background-color: #FFD700;
    -fx-text-fill: #002147;
}